html {
  background-color: #ffffff;
}

body {
  max-width: 320px;
  margin: auto;
  background-image: url("../img/onepage_maevachristan_copie.jpg");
}

img {
  display: block;
  max-width: 100%;
}

.wallpaper {
  margin-top: 60px;
}

a {
  text-transform: uppercase;
  font-family: 'Assistant', sans-serif;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
}

h3 {
  font-family: 'Cormorant Garamond', serif;
}

h4 {
  font-family: 'Cormorant Garamond', serif;
}

p {
  font-family: 'Assistant', sans-serif;
}

div {
  font-family: 'Cormorant Garamond', serif;
}