html {
  background-color: #ffffff;
}

body {
  max-width: 320px;
  margin: auto;
  background-image: url("../img/onepage_maevachristan_copie.jpg");
}

img {
  display: block;
  max-width: 100%;
}

.wallpaper {
  margin-top: 60px;
}

.btn1 {
  font-family: 'Barlow', sans-serif;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
}