html {
  background-color: #ffffff;
}

body {
  max-width: 320px;
  margin: auto;
  background-image: url("../img/onepage_maevachristan_copie.jpg");
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

.wallpaper {
  margin-top: 55px;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  margin: 13px 0 3px;
}

header h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  margin: 13px 0 3px;
}

header h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 17px;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 7px;
}

main h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 11px;
}

main h4 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 12px;
}

footer h2 {
  font-family: 'Sarabun', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

footer h3 {
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
  text-align: center;
}

footer h4 {
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
  text-align: center;
}

hr {
  width: 245px;
}

p {
  font-family: 'Sarabun', sans-serif;
  font-size: 13px;
  margin: 0 45px;
}